<script>
export default {
  name: 'Home'
}
</script>

<template>
  <div class="home">
    <h1>home page</h1>

    <VueButton to="/products/off_white?promotion=OW10">
      1 - Off-White Promotion link of 10%
    </VueButton>
    <br/>
    <br/>
    <VueButton to="/products/louis_vuitton">
      2 - Louis Vuitton obfuscated name
    </VueButton>
    <br/>
    <br/>
    <VueButton to="/products?minPrice=500&maxPrice=1500&orderBy=price&ship=UK">
      3 - Filtering products and order by price (min: 500, max: 1500) in UK
    </VueButton>

    <h2>Questions</h2>
    <section>
      <h3>
        1. What metrics are essential in term of Speed ?
      </h3>
      <p>
        In my opinion, the first thing to pay attention to is the page loading speed and especially the time before the first renderings. it is better to manage your asynchronous well and display the information as you go. Of course, you have to be very careful with the number of HTTP requests.<br>
        the weight of the downloaded resources is also an important indicator, it is better to split up your resources and load them asynchronously.
      </p>
      <h3>
        2. Can you name ways to increase speed (perceived or actual load time) ?
      </h3>
      <p>
        it is necessary to optimize the loading of each part of the page and especially their order. The minifications and the splitting of the sources will make it possible to do lazy loading and therefore to load only what is necessary.<br>
        Avoiding unnecessary rendering and controlling the flow of data in the application can save a lot of time.
      </p>
      <h3>
        3. Could you tell me what are SSR, pre-rendering and Dynamic rendering ?
      </h3>
      <p>
        SSR, or the Server Side Rendering, is a methoed that execute the frontend application on the server side in order to render the HTML before send it to the client.<br>
        Pre-rendering is a system that will render HTML pages on the server side and put them in a cache in order to return them directly to a Bot. A normal client get the normal javascript application<br>
        The Dynamic Rendering does not cache the rendered pages and does it on the fly when requested by a Bot.
      </p>
      <h3>
        4. You have a bug to fix, you find the file(s) where the bug occurs, the code is a mess, what do you do ?
      </h3>
      <p>
        In first time I fix the code if it's simply to done, in a second time according to the time allocated to me either I try to optimize / improve the existing code or I plan, if necessary, a redesign to add to the schedule . But of course that really depends on the size of the bug, the urgency and the state of the code.
      </p>
      <h3>
        5. What represent FrontEnd to you ?
      </h3>
      <p>
        An Artist who working in front of a thousands people.
      </p>
      <h3>
        6. What was the last technical challenge you faced and how you did you handle it ?
      </h3>
      <p>
        My last big frontend challenge was to create a completely agnostic architecture capable of running in micro frontend, all on a mono repo. I succeeded by creating a project with multi-build depending on what I wanted to build (example: a video player, or a chat, or a video player and a chat). All so that everything is manageable by several front and embed teams anywhere.
      </p>
      <h3>
        7. What is the next language/framework/stack you want to learn this year and why ?
      </h3>
      <p>
        I'm waiting a lot for VueJS 3 (but i'm already using the composing API), I heard some things about Svelte (Micro Frontend), I'm trying to make some Discord/Twitch bots and put them on VPS with CI
      </p>
    </section>
  </div>
</template>
