<script>
import snakeCase from 'lodash/snakeCase'
import dataProducts from '@/data/products.json'
import dataPromotions from '@/data/promotions.json'
import Product from '@/components/Product'

const SHIP_VALUES = {
  UK: 'United Kingdom',
  US: 'United States',
  IT: 'Italy',
  FR: 'France',
  DE: 'Germany'
}

export default {
  name: 'Products',

  props: {
    // brand from URL
    brand: {
      type: String,
      default: null
    }
  },

  data () {
    const { $route } = this

    return {
      products: [],
      loading: true,
      promotion: null,
      minPrice: $route.query.minPrice || 0,
      maxPrice: $route.query.maxPrice || 0,
      orderBy: $route.query.orderBy || 'default',
      shipCode: $route.query.ship || null,
      shipments: SHIP_VALUES
    }
  },

  components: {
    Product
  },

  mounted () {
    this.loadAll()
  },

  watch: {
    // checkking route to relaod products and promotions
    $route () {
      this.loading = true
      this.products = []
      this.promotion = null

      this.$nextTick(() => {
        this.loadAll()
      })
    }
  },

  methods: {
    // Fake API call to retreive all Products and Promotions
    async loadAll () {
      await setTimeout(() => {
        const products = [...dataProducts.products]
        const promotionInQuery = this.$route.query.promotion

        // checking for promotion only if needed
        if (promotionInQuery) {
          this.promotion = dataPromotions.promotions.find(promo => promo.code === promotionInQuery)
        } else {
          this.promotion = null
        }

        // set maximum price
        if (!this.$route.query.maxPrice) {
          const pricesList = products.map(p => p.price.price_in_cents)
          this.maxPrice = Math.max(...pricesList) / 100
        }

        // reset products data
        this.products = products
        this.loading = false
      }, 600)
    },

    applyPromotions (product) {
      const { promotion } = this

      // apply the promotion on the product of the same brand
      if (promotion && product.brand === promotion.brand) {
        return {
          ...product,
          promotion: promotion.percent
        }
      }

      return product
    }
  },

  computed: {
    filteredProducts () {
      const { brand, products, minPrice, maxPrice, orderBy, shipCode } = this
      let list = [...products]

      list = list.filter(product => {
        const price = product.price.price_in_cents / 100

        // filter products by brand if brand is in the route (props)
        const isBrandName = (
          brand === null ||
          snakeCase(product.brand) === brand
        )

        // filter by shipped country
        const isShippable = (
          shipCode === null ||
          product.shippable_countries.indexOf(shipCode) >= 0
        )

        // filter on prices
        const isPriceMinMax = (price >= minPrice && price <= maxPrice)

        return isShippable && isBrandName && isPriceMinMax
      })

      // checking for promotion to apply
      list = list.map(product => this.applyPromotions(product))

      // Sorting products list
      return list.sort((a, b) => {
        if (orderBy === 'price') {
          return a.price.price_in_cents - b.price.price_in_cents
        }

        if (orderBy === 'brand') {
          if (a.brand < b.brand) {
            return -1
          }
          if (a.brand > b.brand) {
            return 1
          }

          return 0
        }
      })
    }
  }
}
</script>

<template>
  <div class="products">
    <h1>products page</h1>

    <div>
      <p>
        Shipment:
        <VueSelect v-model="shipCode">
          <VueSelectButton :value="null" label="Everywhere"/>
          <VueSelectButton
            v-for="(country, code) in shipments"
            :key="code"
            :value="code"
            :label="country"
          />
        </VueSelect>
      </p>
    </div>
    <div>
      <p>
        Order by:
        <VueSelect v-model="orderBy">
          <VueSelectButton value="default" label="Default"/>
          <VueSelectButton value="price" label="Price"/>
          <VueSelectButton value="brand" label="Brand"/>
        </VueSelect>
      </p>
      <p>
        Filter products by price from
        <VueInput
          v-model="minPrice"
          placeholder="Minimum Price"
        />
        to
        <VueInput
          v-model="maxPrice"
          placeholder="Maximum Price"
          :min="minPrice"
        />
      </p>
    </div>

    <VueLoadingIndicator v-if="loading" />
    <section v-else class="products_container">
      <Product
        v-for="product in filteredProducts"
        :key="product.id"
        :id="product.id"
        :name="product.name"
        :brand="product.brand"
        :price="product.price.price_in_cents"
        :currency="product.price.currency"
        :sellerName="product.seller.name"
        :promotionInPercent="product.promotion"
        :depositedOn="product.deposited_on"
      />
    </section>
  </div>
</template>

<style lang="scss">
  .products {
    .products_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
</style>
