<script>
// Internationalisation constants
const I18N = 'en-IN'
const CURRENCIES = {
  '€': 'EUR'
}

export default {
  name: 'Price',

  props: {
    value: {
      type: Number,
      default: 0
    },
    currency: {
      type: String,
      default: '$'
    }
  },

  computed: {
    priceFormated () {
      // formating the price with i18n
      const { value, currency } = this

      return new Intl.NumberFormat(I18N, {
        style: 'currency',
        currency: CURRENCIES[currency]
      }).format(value / 100)
    }
  }
}
</script>

<template>
  <strong class="price">{{ priceFormated }}</strong>
</template>

<style lang="scss">
  .price {
    &.promoted {
      text-decoration: line-through;
    }
  }
</style>
