<script>
import { formatDuration, intervalToDuration } from 'date-fns'
import Price from './Price'

const BRAND_LV = 'Louis Vuitton'

function reverseStr (str) {
  return str.split('').reverse().join('')
}

export default {
  name: 'Product',

  props: {
    id: Number,
    name: String,
    price: {
      type: Number,
      default: 0
    },
    currency: String,
    sellerName: String,
    brand: String,
    promotionInPercent: {
      type: Number,
      default: 0
    },
    depositedOn: String
  },

  components: {
    Price
  },

  computed: {
    displayBrand () {
      const { brand } = this

      // if the brand is LV we reverse the name ;)
      return brand === BRAND_LV ? reverseStr(brand) : brand
    },

    displayDate () {
      // formating the deposited date in duration and use it in the template
      const { depositedOn } = this
      const startDate = new Date(depositedOn)

      return formatDuration(intervalToDuration({
        start: startDate,
        end: Date.now()
      }), { format: ['years', 'months', 'days'] })
    }
  }
}
</script>

<template>
  <div class="product">
    <h4>{{ displayBrand }}</h4>
    <p>{{ name }}</p>
    <p>
      <Price
        v-if="promotionInPercent"
        :value="price - (price * (promotionInPercent / 100))"
        :currency="currency"
      />&nbsp;
      <Price
        :class="{promoted: promotionInPercent}"
        :value="price"
        :currency="currency"
      />
    </p>
    <p class="product_date"><small>Deposited {{ displayDate }} ago</small></p>
  </div>
</template>

<style lang="scss">
  .product {
    border-radius: 3px;
    border: 1px solid #eee;
    width: 15rem;
    margin: 8px;
    padding: 8px;

    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);

    h4 {
      color: goldenrod;
      text-transform: uppercase;
    }
  }
</style>
