<script>
import '@vue/ui/dist/vue-ui.css'

export default {
  name: 'App'
}
</script>

<template>
  <div id="app">
    <nav id="nav">
      <VueButton to="/">Home</VueButton>
      <VueButton to="/products">Products</VueButton>
    </nav>

    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

section {
  margin: auto;
  max-width: 1024px;
  padding: 0 36px;
}
</style>
